@charset "UTF-8";

#SLIDE_BG{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 40s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('img/1.jpg');
}
@keyframes slideBg{
    0%{
        background-image: url('img/1.jpg');
    }
    10%{
        background-image: url('img/2.jpg');
    }
    20%{
        background-image: url('img/3.jpg');
    }
    30%{
        background-image: url('img/4.jpg');
    }
    40%{
        background-image: url('img/5.jpg');
    }
    50%{
        background-image: url('img/6.jpg');
    }
    60%{
        background-image: url('img/7.jpg');
    }
    70%{
        background-image: url('img/8.jpg');
    }
    80%{
        background-image: url('img/9.jpg');
    }
    90%{
        background-image: url('img/10.jpg');
    }
    100%{
        background-image: url('img/11.jpg');
    }
}